# Top-most EditorConfig file
root = true

# Use tabs for spacing
[*.{js,html,css,scss}]
indent_style = tab
tab_width = 4

# Use 'UTF-8' character sets
charset = utf-8

# Use Windows-style line endings
end_of_line = crlf
insert_final_newline = true

# Trim trailing whitespace
trim_trailing_whitespace = true