#form-group {
	width: $form-width;

	margin: auto;
	padding: 3rem 1rem;

	h2 {
		font-size: 3rem;

		margin-bottom: 1rem;
	}

	label {
		font-size: 1.75rem;
		color: $black;
	}

	input,
	textarea {
		margin: 0.5rem 0;
		padding: 0.5rem 1rem;

		border: 2px solid lightgrey;
		border-radius: 0.25rem;

		font-size: 1.6rem;
		font-family: inherit;

		width: 100%;

		background-color: inherit;

		@include transition(0.5s);

		&:focus {
			border-color: $theme-color;

			background-color: white;

			@include transition(0.5s);
		}
	}

	input {
		margin-bottom: 1.5rem;
	}

	textarea {
		resize: vertical;
	}

	button {
		background: $theme-color;

		border: none;
		border-radius: 0.25rem;

		@include text;

		padding: 0.5rem 1rem;

		cursor: pointer;

		@include transition;

		&:hover {
			background: $primary-color;

			@include transition;
		}
	}
}
