.navbar {
	width: 100%;
	height: $navbar-height;

	background-color: $theme-color;

	@include content-center;
	justify-content: start;

	.logo {
		@include text($font-size: 2.5rem);

		margin-left: 1.5rem;
	}

	.links {
		margin-left: 3rem;

		li {
			padding: 0.5rem 1rem;

			border-radius: 0.5rem;

			cursor: pointer;

			@include transition;

			a {
				@include text;
			}

			&:hover {
				background: $primary-color;

				@include transition;
			}
		}
	}

	.actions {
		margin-left: auto;
		margin-right: 2rem;

		input {
			padding: 0.75rem 1rem;

			@include text($black);

			border: none;
			border-radius: 0.5rem;
		}
	}
}
